.image-3-icon2 {
  align-self: stretch;
  position: relative;
  max-height: 100%;
  width: 31px;
  object-fit: cover;
  display: none;
}
.about-us2 {
  position: relative;
  letter-spacing: 0.11em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 1px #fff;
  cursor: pointer;
}
.menu3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-47xl);
}
.vector-icon9 {
  position: absolute;
  height: 66.67%;
  width: 83.33%;
  top: 16.67%;
  right: 8.33%;
  bottom: 16.67%;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.mdiaccount-alert-outline2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon10,
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 86.31%;
  width: 86.31%;
  top: 4.76%;
  right: 8.93%;
  bottom: 8.93%;
  left: 4.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon11,
.vector-icon12 {
  height: 81.45%;
  width: 90.48%;
  top: 8.93%;
  right: 4.76%;
  bottom: 9.62%;
}
.vector-icon12 {
  height: 78.78%;
  width: 87.61%;
  top: 12.7%;
  right: 6.42%;
  bottom: 8.53%;
  left: 5.98%;
}
.buttons2,
.menu2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.buttons2 {
  width: 306px;
  justify-content: flex-end;
  gap: var(--gap-26xl);
}
.menu2 {
  align-self: stretch;
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  padding: var(--padding-16xl) var(--padding-31xl);
  justify-content: center;
  font-size: var(--font-size-6xl);
  color: var(--olga);
}
.image-1-icon5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  border-radius: var(--br-66xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.div119 {
  letter-spacing: 0.1em;
}
.div119,
.div120 {
  position: relative;
  font-weight: 600;
}
.dashiconsarrow-down-alt21 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.blog4,
.parent19,
.parent20 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.parent20 {
  flex-direction: row;
  gap: var(--gap-mini);
  font-size: var(--font-size-xl);
}
.blog4,
.parent19 {
  background-color: var(--color-gray-200);
  flex-direction: column;
  padding: 0 var(--padding-404xl);
}
.blog4 {
  align-self: stretch;
  background-color: var(--color-mistyrose-300);
  height: 422px;
  padding: 0 0 var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-51xl);
}
.image-2-icon2 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 817px;
  height: 481.03px;
  object-fit: cover;
}
.vector-icon13 {
  position: relative;
  width: 14.48px;
  height: 15.51px;
}
.dashiconsadmin-users {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-10xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.div123 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 46px;
  height: 18.24px;
  flex-shrink: 0;
}
.dashiconsadmin-users-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div124,
.uiscalender-icon {
  position: relative;
  flex-shrink: 0;
}
.uiscalender-icon {
  width: 20px;
  height: 19.2px;
  overflow: hidden;
}
.div124 {
  letter-spacing: 0.01em;
  font-weight: 500;
  display: inline-block;
  width: 121px;
  height: 17.28px;
}
.uiscalender-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
  font-size: var(--font-size-mini);
}
.div125,
.div126 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
}
.div125 {
  align-self: stretch;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  height: 33.61px;
}
.div126 {
  letter-spacing: 0.01em;
  width: 250px;
  height: 27.1px;
}
.see-more-item {
  position: relative;
  width: 115px;
  height: 2px;
}
.div122,
.see-more1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.see-more1 {
  align-self: stretch;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray);
}
.div122 {
  height: 627px;
  justify-content: center;
  gap: var(--gap-2xl);
}
.rectangle-icon {
  position: relative;
  border-radius: var(--br-3xs);
  width: 817px;
  height: 480px;
  object-fit: cover;
}
.div129 {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.admin {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-23xl);
}
.div130 {
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-black);
}
.div127 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xl);
}
.image-1-icon6 {
  position: relative;
  border-radius: var(--br-3xs);
  width: 814px;
  height: 480px;
  object-fit: cover;
}
.div135 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  color: var(--color-black);
}
.parent21 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.akar-iconssearch3 {
  position: relative;
  width: 24px;
  height: 23.04px;
  overflow: hidden;
  flex-shrink: 0;
}
.akar-iconssearch-wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--olga);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 309px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-3xs);
  align-items: flex-end;
  justify-content: center;
}
.div137,
.div138,
.div139,
.div140 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 107px;
  height: 26.88px;
  flex-shrink: 0;
}
.div138,
.div139,
.div140 {
  width: 57px;
  height: 18.24px;
}
.div139,
.div140 {
  width: 58px;
}
.div140 {
  width: 79px;
}
.parent23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 44px;
}
.div141,
.div142,
.div143 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  flex-shrink: 0;
}
.div141 {
  font-size: var(--font-size-base);
  width: 9px;
  height: 18.24px;
}
.div142,
.div143 {
  width: 11px;
  height: 20.16px;
}
.div143 {
  width: 10px;
}
.frame-parent18,
.parent24 {
  display: flex;
  justify-content: flex-start;
}
.parent24 {
  flex-direction: column;
  align-items: center;
  gap: var(--gap-24xl);
  font-size: var(--font-size-lg);
}
.frame-parent18 {
  flex-direction: row;
  align-items: flex-start;
  gap: 161px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.parent22 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-15xl);
}
.frame-parent15,
.frame-parent17,
.parent22 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent17 {
  flex-direction: column;
  align-items: center;
  gap: 48px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.frame-parent15 {
  flex-direction: row;
  padding: var(--padding-31xl) 0 0;
  align-items: flex-start;
  gap: 68px;
}
.div144 {
  position: relative;
  font-weight: 500;
}
.button1 {
  background-color: var(--color-mistyrose-200);
  display: flex;
  padding: var(--padding-sm) 26px;
  align-items: center;
  justify-content: center;
}
.button1,
.button2,
.button3,
.buttonnext {
  border-radius: var(--br-3xs);
  flex-direction: row;
}
.button2 {
  background-color: #f8dcdc;
  display: flex;
  padding: var(--padding-sm) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.button3,
.buttonnext {
  background-color: var(--color-mistyrose-100);
}
.button3 {
  display: flex;
  padding: var(--padding-sm) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.buttonnext {
  padding: var(--padding-mid) 27px;
  font-family: var(--font-raleway);
}
.button1-parent,
.buttonnext,
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1-parent {
  flex-direction: row;
  gap: 38px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.texts {
  flex-direction: column;
  padding: 0 0 var(--padding-11xl);
  gap: 60px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.span78 {
  letter-spacing: 0.01em;
}
.div149 {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-darkgray-100);
}
.info1,
.parent25 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-mini);
}
.info1 {
  align-self: stretch;
  background-color: var(--color-whitesmoke);
  flex-direction: row;
  padding: var(--padding-71xl) var(--padding-83xl);
  align-items: center;
  gap: var(--gap-26xl);
  font-size: var(--font-size-9xl);
}
.span81 {
  letter-spacing: 0.07em;
}
.span82 {
  letter-spacing: 0.08em;
}
.p19 {
  margin: 0;
}
.b9 {
  position: relative;
  letter-spacing: 0.08em;
}
.div156,
.div157,
.div158,
.div159 {
  position: relative;
  letter-spacing: 0.09em;
  font-weight: 500;
  display: inline-block;
  height: 16.17px;
  flex-shrink: 0;
}
.div156 {
  align-self: stretch;
}
.div157,
.div158,
.div159 {
  width: 70px;
  cursor: pointer;
}
.div158,
.div159 {
  width: 41px;
}
.div159 {
  width: 83px;
}
.parent28 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.div161 {
  position: relative;
  letter-spacing: 0.09em;
  font-weight: 500;
}
.div160,
.parent29 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent29 {
  gap: var(--gap-10xl);
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.div160 {
  gap: var(--gap-14xl);
}
.button4,
.frame-child2 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-raleway);
}
.frame-child2 {
  font-size: var(--font-size-mini);
  background-color: var(--olga);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button4 {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.05em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.div164,
.frame-parent19 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-smi);
}
.div164 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.div154,
.end1,
.frame-7122 {
  display: flex;
  flex-direction: row;
}
.div154 {
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-60xl);
  font-size: var(--font-size-lg);
  color: var(--color-darkgray-100);
}
.end1,
.frame-7122 {
  align-items: center;
}
.frame-7122 {
  justify-content: flex-start;
  gap: var(--gap-151xl);
}
.end1 {
  align-self: stretch;
  background-color: var(--color-mistyrose-200);
  padding: var(--padding-103xl) var(--padding-89xl);
  justify-content: center;
}
.wanderlust-all-the4 {
  letter-spacing: 0.03em;
}
.span87 {
  letter-spacing: 0.04em;
}
.text-7-wrapper2 {
  align-self: stretch;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xl) var(--padding-64xl);
  align-items: center;
  justify-content: flex-end;
  color: var(--olga);
}
.list-icon2 {
  position: relative;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.list-frame {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.phone-icon2 {
  position: relative;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.backet-icon2 {
  position: relative;
  width: 18.4px;
  height: 16.54px;
}
.phone-container {
  width: 72px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-mini) 0 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-3xs);
}
.frame-parent20,
.wrapper1 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.frame-parent20 {
  align-self: stretch;
  background-color: var(--color-black);
  padding: var(--padding-6xs) 0 var(--padding-6xs) var(--padding-3xs);
}
.wrapper1 {
  padding: var(--padding-3xs) 0;
  font-size: var(--font-size-sm);
}
.image-2-icon3 {
  position: relative;
  width: 184px;
  height: 112px;
  object-fit: cover;
}
.div166 {
  position: relative;
  font-weight: 600;
  display: inline-block;
  width: 117px;
  height: 42px;
  flex-shrink: 0;
}
.image-2-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.dashiconsadmin-users3 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.dashiconsadmin-users-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.uiscalender-icon3 {
  position: relative;
  width: 13px;
  height: 13px;
  overflow: hidden;
  flex-shrink: 0;
}
.uiscalender-parent1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xs);
}
.frame-parent22,
.frame-parent23 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent23 {
  flex-direction: row;
  align-items: center;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
  color: var(--color-darkgray-100);
}
.frame-parent22 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.image-1-icon7 {
  position: relative;
  width: 182px;
  height: 121px;
  object-fit: cover;
}
.dashiconsadmin-users-parent2,
.frame-parent25,
.image-1-container,
.uiscalender-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.dashiconsadmin-users-parent2,
.frame-parent25,
.uiscalender-parent2 {
  gap: var(--gap-9xs);
}
.frame-parent25,
.uiscalender-parent2 {
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.frame-parent25 {
  align-items: center;
  gap: var(--gap-base);
  font-size: var(--font-size-3xs);
  color: var(--color-darkgray-100);
}
.frame-parent21,
.frame-parent24 {
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent24 {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.frame-parent21 {
  display: none;
  padding: 0 0 var(--padding-xl);
  align-items: center;
  gap: var(--gap-lg);
  font-size: var(--font-size-xs);
}
.b11,
.text215 {
  position: relative;
}
.text215 {
  font-weight: 500;
  display: inline-block;
  width: 53px;
  height: 24px;
  flex-shrink: 0;
}
.b11 {
  font-size: var(--font-size-7xs);
  letter-spacing: 0.08em;
  color: var(--color-darkgray-100);
}
.div172,
.div173,
.div174,
.div175 {
  position: relative;
  letter-spacing: 0.09em;
  line-height: 5px;
  font-weight: 500;
  display: inline-block;
  width: 50px;
  height: 7px;
  flex-shrink: 0;
}
.div173,
.div174,
.div175 {
  width: 61px;
  cursor: pointer;
}
.div174,
.div175 {
  width: 42px;
}
.div175 {
  width: 50px;
  height: 6px;
}
.parent30 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-8xs);
}
.div176,
.div177 {
  position: relative;
  letter-spacing: 0.09em;
  line-height: 5px;
  font-weight: 500;
  height: 7px;
  flex-shrink: 0;
}
.div176 {
  display: flex;
  align-items: center;
  width: 46px;
}
.div177 {
  display: inline-block;
  width: 63px;
}
.p23 {
  margin-block-start: 0;
  margin-block-end: 2px;
}
.div178 {
  letter-spacing: 0.09em;
  line-height: 5px;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  height: 16px;
  flex-shrink: 0;
}
.child2,
.div178,
.email2 {
  position: relative;
}
.email2 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-raleway);
  font-size: var(--font-size-8xs);
  background-color: transparent;
  letter-spacing: 0.05em;
  color: var(--color-darkgray-100);
  text-align: left;
}
.child2 {
  border-top: 0.3px solid var(--color-black);
  box-sizing: border-box;
  width: 75.98px;
  height: 0.6px;
}
.div180 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xs);
}
.div181 {
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 500;
  display: inline-block;
  width: 39px;
  height: 1.77px;
  flex-shrink: 0;
}
.div179 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-12xs);
  font-size: var(--font-size-8xs);
  color: var(--color-black);
}
.frame-parent26,
.mails-container {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-8xs);
}
.mails-container {
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-7xs);
  color: var(--color-darkgray-100);
}
.frame-parent26 {
  flex-direction: row;
  justify-content: center;
}
.bank-3,
.text-7-wrapper3 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
}
.bank-3 {
  background-color: var(--color-mistyrose-200);
  padding: var(--padding-mid) var(--padding-15xl);
  justify-content: center;
  gap: var(--gap-8xs);
  font-size: var(--font-size-8xs);
}
.text-7-wrapper3 {
  background-color: var(--color-black);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: var(--padding-10xs) 0;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-6xs);
  color: var(--olga);
}
.blog2 {
  position: relative;
  background-color: var(--olga);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-raleway);
}
@media screen and (max-width: 1200px) {
  .image-3-icon2 {
    display: flex;
  }
  .menu3 {
    display: none;
  }
  .image-2-icon2 {
    width: 409px;
    height: 240px;
  }
  .div122 {
    align-items: center;
    justify-content: center;
  }
  .rectangle-icon {
    width: 409px;
    height: 240px;
  }
  .div127 {
    align-items: center;
    justify-content: center;
  }
  .image-1-icon6 {
    width: 407px;
    height: 240px;
  }
}
@media screen and (max-width: 960px) {
  .frame-parent17 {
    display: none;
  }
  .info1 {
    align-items: flex-start;
    justify-content: center;
  }
  .div154,
  .frame-7122,
  .info1 {
    flex-direction: column;
  }
  .frame-7122 {
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .blog4,
  .end1,
  .image-3-icon2,
  .info1,
  .menu2,
  .text-7-wrapper2,
  .texts {
    display: none;
  }
  .bank-3,
  .frame-parent20,
  .frame-parent21,
  .text-7-wrapper3,
  .wrapper1 {
    display: flex;
  }
}
